<div class="container" id="main">
    <div>
        <img src="assets/img/burger.png" alt="hamberger img">
    </div>

    <h1>Eat-Da-Burger!</h1>

    <div class="main_body">
        <div class="container">
            <div class="row">
                <div id="inputBurger" class="col">
                    <ul>
                        {{#each notEaten}}
                        <li>{{this.id}}. {{this.name}}</li>
                        {{!-- unless = if not --}}
                        {{/each}}
                    </ul>
                </div>
                
                <div id="button">
                    <ul>
                        {{#each notEaten}}
                        <li>
                            <form action="/move" method="PUT">
                                <input type="hidden" name = "burger_name" value={{this.name}}/> 
                                <button type="submit">Devour it!</button>
                            </form>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                
                <div id="ateBurger">
                    <ul>
                        {{#each eaten}}
                        <li>{{this.id}}. {{this.name}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <form action="/new" method="POST">
            <input type="text" name = "burger_name"/> 
            <button type="submit">Submit</button>
        </form>
    </div>
</div>