<div class="container">
    <div class="row">
        <div class="col-sm-12" id="head">
            <img src="assets/img/burger.png" alt="hamberger img" class="clearfix">
            <h1>Eat-Da-Burger!</h1>
        </div>

    <div class="container" id="main">
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <div id="inputBurger" class="col">
                    <ul>
                        {{#each notEaten}}
                        <li class="li" id="list1Id">{{this.id}}. {{this.name}}</li>
                        {{!-- unless = if not --}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6">
            <div class="row">
                <div id="button">
                    <ul>
                        {{#each notEaten}}
                        <li> 
                            <form action="/move" method="PUT" class="burgerMove">
                                <input type="hidden" name = "burger_name" value={{this.name}}/> 
                                <button type="submit" id="devour">Devour it!</button>
                            </form>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="row">  
                <div id="ateBurger">
                    <ul>
                        {{#each eaten}}
                        <li class="li">{{this.id}}. {{this.name}}</li>
                        {{/each}}
                    </ul>
                </div>  
            </div> 
        </div>
    </div>
    </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12" id="footer">
            <form action="/new" method="POST">
                <input type="text" name = "burger_name" size="30"/>&nbsp;
                <button type="submit" id="submit">Submit</button>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
$(document).ready(function(){
    $(".burgerMove").submit(function(event){
        //제이쿼리로 아이디를 찾게되면 아이디와 일치하는 가장 첫번째 아이템에만 서브밋이 적용되므로 클래스로 지정해줘야 함. 
        console.log("move failed ");
        event.preventDefault();//원래 폼인 서브밋을 눌렀을때 할 것을 멈추는 것. 
        var burgerName = $(this).children("input").val();
        $.ajax({
            url:"/move/" + burgerName, 
            method: "PUT",
            success: function(){
                window.location.reload();
            }//success는 put move가 성공적일때 켜져있는 윈도우를 새로고침 하라는 뜻
        });
    });
});
</script>